.gradient-custom {
    /* fallback for old browsers */
    background: #fefeff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(246, 245, 247), rgb(250, 251, 252));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(249, 248, 250), rgb(250, 251, 252))
    }

